<header th:fragment="header(includeCart)">
    <nav class="navbar navbar-expand-md fixed-top navbar-dark am-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/aspenmesh-icon.png" height="24" class="d-inline-block align-text-top">
                Aspen Mesh Catalog Demo
            </a>
            <a href="/checkout" th:if="${includeCart}">
                <span th:text="${session.cart.size}" th:unless="${session.cart == null}" class="badge bg-primary rounded-pill"></span>
                <i class="bi bi-cart-fill" style="font-size: 2rem; color: white;"></i>
            </a>
        </div>
    </nav>
</header>